body {
  background-color: #ffffff;
  font-family: sans-serif;
}

header {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

main {
  margin-top: 20px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}
